<div class="col" id="products" style="background: #dde8ee;padding-top: 15px;">
    <div class="row">
        <div class="col">
            <h3 class="float-left" style="width: 150px;">Products</h3><button class="btn btn-primary" type="button" style="margin-left: 320px;"><i class="fa fa-plus-square"></i>&nbsp;Add new</button><button class="btn btn-light" type="button" style="margin-left: 3px;color: rgb(255,255,255);background: rgb(100,97,231);"><i class="fa fa-file-pdf-o"></i>&nbsp;Dowload catalog as PDF</button>
            <button class="btn btn-success" type="button" style="margin-left: 3px;"><i class="fa fa-download"></i>&nbsp;Export</button><button class="btn btn-success" type="button" style="margin-left: 3px;background: rgb(30,119,51);"><i class="fa fa-upload"></i>&nbsp;Import</button>
            <button class="btn btn-danger" type="button" style="margin-left: 3px;"><i class="fa fa-trash"></i>&nbsp;Delete (selected)</button>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background: #ffffff;margin-right: 30px;margin-left: 30px;margin-top: 20px;border-top-style: solid;border-top-color: var(--blue);border-radius: 5px;box-shadow: 0px 0px 5px 0px var(--gray);">
            <div>
                <a class="btn btn-outline-light btn-block text-left text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button" style="margin-top: 5px;margin-bottom: 5px;font-size: 20px;"><i class="fas fa-search"></i>&nbsp; &nbsp;Search</a>
                <div class="collapse show" id="collapse-1">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Product name&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col"><input type="text" style="width: 280px;"></div>
                                </div>
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Category&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col">
                                        <div class="dropdown" placeholder="All"><button class="btn btn-block dropdown-toggle text-right" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 280px;border-radius: 0px;border-color: #4b4747;height: 30px;" placeholder="All"></button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Search subcategories&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col-7" style="width: 300px;max-width: 53%; margin-right: 10px;"><input type="checkbox"></div>
                                </div>
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Manufacturer&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col">
                                        <div class="dropdown" placeholder="All"><button class="btn btn-block dropdown-toggle text-right" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 280px;border-radius: 0px;border-color: #4b4747;height: 30px;" placeholder="All"></button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Vendor&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col">
                                        <div class="dropdown" placeholder="All"><button class="btn btn-block dropdown-toggle text-right" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 280px;border-radius: 0px;border-color: #4b4747;height: 30px;" placeholder="All"></button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Warehouse&nbsp;&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col">
                                        <div class="dropdown" placeholder="All"><button class="btn btn-block dropdown-toggle text-right" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 280px;border-radius: 0px;border-color: #4b4747;height: 30px;" placeholder="All"></button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Product type&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col">
                                        <div class="dropdown" placeholder="All"><button class="btn btn-block dropdown-toggle text-right" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 280px;border-radius: 0px;border-color: #4b4747;height: 30px;" placeholder="All"></button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Published&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col">
                                        <div class="dropdown" placeholder="All"><button class="btn btn-block dropdown-toggle text-right" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 280px;border-radius: 0px;border-color: #4b4747;height: 30px;" placeholder="All"></button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px;">
                                    <div class="col"><i class="fa fa-question-circle float-right" style="color: var(--blue);font-size: 18px;"></i><label class="float-right"><strong>Go directly to product </strong><br><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SKU&nbsp;&nbsp;</strong><br></label></div>
                                    <div class="col">
                                        <div class="input-group" style="height: 30px;">
                                            <div class="input-group-prepend"></div><input class="form-control" type="text" style="border-color: #4b4747;width: 280px;">
                                            <div class="input-group-append"></div>
                                        </div><button class="btn btn-info float-right" type="button" style="margin-top: 15px;">Go!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col text-center"><button class="btn btn-primary" type="button" style="width: 140px;height: 45px;font-size: 18px;"><i class="fa fa-search"></i>&nbsp; Search</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background: #ffffff;margin-right: 30px;margin-left: 30px;margin-top: 20px;border-top-style: solid;border-top-color: var(--blue);border-radius: 5px;box-shadow: 0px 0px 5px 0px var(--gray);">
            <p style="margin-top: 16px;font-size: 18px;">Learn more about&nbsp;<a href="https://docs.nopcommerce.com/running-your-store/catalog/products/index.html?utm_source=demo-admin-panel&amp;utm_medium=admin-page&amp;utm_campaign=documentation&amp;utm_content=doc-reference" target="_blank">products</a><br></p>
            <div class="table-responsive" style="border-top: 1px solid #c8cacc;border-right-width: 1px;border-right-color: #c8cacc;border-bottom-width: 1px;border-bottom-color: #c8cacc;border-left-width: 1px;border-left-color: rgb(200,202,204);padding-bottom: 30px;">
                <table class="table">
                    <thead style="background: #f1f1f1;">
                        <tr style="border-bottom: 1px solid #c8cacc ;">
                            <th class="text-center" style="border-right: 1px solid #c8cacc ;border-left: 1px solid #c8cacc ;"><input type="checkbox"></th>
                            <th style="border-right: 1px solid #c8cacc ;">Picture</th>
                            <th style="border-right: 1px solid #c8cacc ;">Product name</th>
                            <th style="border-right: 1px solid #c8cacc ;">SKU</th>
                            <th style="border-right: 1px solid #c8cacc ;">Price</th>
                            <th style="border-right: 1px solid #c8cacc ;">Stock Quantity</th>
                            <th style="border-right: 1px solid #c8cacc ;">Published</th>
                            <th style="border-right: 1px solid #c8cacc ;">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;border-left: 1px solid #c8cacc ;"><input type="checkbox"></td>
                            <td style="border-right: 1px solid #c8cacc ;">
                                <picture><img src="assets/img/p1.png"></picture>
                            </td>
                            <td style="border-right: 1px solid #c8cacc ;">Build your own computer<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">COMP_CUST<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">1200<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">10000<br></td>
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;"><i class="fa fa-check" style="color: var(--blue);"></i><br></td>
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;"><a class="btn btn-outline-light active text-truncate " role="button" style="border-color: #c8cacc;"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a><br></td>
                        </tr>
                        <tr style="background: #f1f1f1;">
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;border-left: 1px solid #c8cacc ;"><input type="checkbox"><br></td>
                            <td style="border-right: 1px solid #c8cacc ;">
                                <picture><img src="assets/img/p2.png"></picture>
                            </td>
                            <td style="border-right: 1px solid #c8cacc ;">Digital Storm VANQUISH 3 Custom Performance PC<br></td>
                            <td style="padding-top: 12px;border-right: 1px solid #c8cacc ;">DS_VA3_PC<br></td>
                            <td style="padding-top: 12px;border-right: 1px solid #c8cacc ;">1259<br></td>
                            <td style="padding-top: 12px;border-right: 1px solid #c8cacc ;">10000<br></td>
                            <td class="text-center" style="padding-top: 12px;border-right: 1px solid #c8cacc ;"><i class="fa fa-check" style="color: var(--blue);"></i></td>
                            <td class="text-center" style="padding-top: 12px;border-right: 1px solid #c8cacc ;"><a class="btn btn-outline-light active text-truncate" role="button" style="border-color: #c8cacc;"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a><br></td>
                        </tr>
                        <tr style="border-bottom: 1px solid #c8cacc ;">
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;border-left: 1px solid #c8cacc ;"><input type="checkbox"><br></td>
                            <td style="border-right: 1px solid #c8cacc ;">
                                <picture><img src="assets/img/p3.png"></picture>
                            </td>
                            <td style="border-right: 1px solid #c8cacc ;">Lenovo IdeaCentre 600 All-in-One PC<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">LE_IC_600<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">500<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">10000<br></td>
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;"><i class="fa fa-check" style="color: var(--blue);"></i><br></td>
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;"><a class="btn btn-outline-light active text-truncate" role="button" style="border-color: #c8cacc;"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a><br></td>
                        </tr>
                        <tr style="border-bottom: 1px solid #c8cacc;background: #f1f1f1;">
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;border-left: 1px solid #c8cacc ;"><input type="checkbox"><br></td>
                            <td style="border-right: 1px solid #c8cacc ;">
                                <picture><img src="assets/img/p4.png"></picture>
                            </td>
                            <td style="border-right: 1px solid #c8cacc ;">Apple MacBook Pro 13-inch<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">AP_MBP_13<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">1800<br></td>
                            <td style="border-right: 1px solid #c8cacc ;">10000<br></td>
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;"><i class="fa fa-check" style="color: var(--blue);"></i><br></td>
                            <td class="text-center" style="border-right: 1px solid #c8cacc ;"><a class="btn btn-outline-light active text-truncate" role="button" style="border-color: #c8cacc;"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>