<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

<div style="max-width: 70%;margin: 15px 15% 0 15%;">
    <ul class="nav nav-tabs">
        <li>
            <a role="tab" data-toggle="tab" class="nav-link" [routerLink]="['/']">
                <h5>About Me</h5><br /></a>
        </li>
        <li>
            <a role="tab" data-toggle="tab" class="nav-link" [routerLink]="['/skill']">
                <h5>Skill</h5><br /></a>
        </li>
        <li>
            <a role="tab" data-toggle="tab" class="nav-link" [routerLink]="['/contact']">
                <h5>Contact Me</h5><br /></a>
        </li>
        <li>
            <a role="tab" data-toggle="tab" class="nav-link" [routerLink]="['/portfolio']">
                <h5>Portfolio</h5><br /></a>
        </li>
    </ul>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <hr style="margin-top:50px;">
</div>